
<header class="header-fixed">
	<div class="header-limiter">
		<h1><a href="#">Company<span>logo</span></a></h1>
		<button id="btn-result" class="btn navbar-btn btn-warning pull-left">JS RUN</button>
		<nav>
			<a href="#">Home</a>
			<a href="#" class="selected">Blog</a>
			<a href="#">Pricing</a>
			<a href="#">About</a>
			<a href="#">Faq</a>
			<a href="#">Contact</a>
		</nav>
	</div>
</header>

<div class="container-fluid editorcontainer">
  <div class="row">
      <div class="paddingset col-sm-4">
        <div class="codearea HtmlContainer">
          <label class="label label-primary">HTMl</label>
          <textarea id="HtmlText" placeholder="WRITE HTML HERE"></textarea>
        </div>
      </div>

      <div class="paddingset col-sm-4 ">
        <div class="codearea CssContainer">
          <label class="label label-primary">CSS</label>
          <textarea id="CSSText" placeholder="WRITE CSS HERE"></textarea>
        </div>
      </div>

      <div class="paddingset col-sm-4">
        <div class="codearea JsContainer">
          <label class="label label-primary">JS</label>
          <textarea id="JSText" placeholder="WRITE JS HERE"></textarea>
        </div>
      </div>
    </div>
      <div class="row ResultContainer">
        <label class="label label-primary">Result</label>
        <iframe id="ResultArea"></iframe>
      </div>
</div>
