.editorcontainer{
  margin: 50px 20px 30px 20px;
  padding: 0px 15px;
}
*:focus {outline:none !important}
.codearea{
	background-color: white;
	height: 400px;
	max-height: 500px;
  border: 1px solid dimgrey;
	position: relative;
  padding: 0px;
  overflow-y: auto;
  overflow-x: hidden;
}
.label{
	position: absolute;
	top: 15px;
	left: 20px;
	float: left;
	font-size: 15px;
	z-index: 1;
}
textarea {
	height: 100%;
	width: 100%;
	margin: 40px 0px 0px 20px !important;
	font-family: "Courier New";
	border: none;
  overflow-y: scroll;
}

.ResultContainer{
	position: relative;
	border: 1px solid dimgrey;
	height: auto;
	min-height: 350px;
  max-height: 550px;
  overflow-y: scroll;
}

#ResultArea{
  height: auto;
  width: auto;
  margin: 45px 20px 0px 20px;
}
